<!--doc 1-->
<div id="collapseTabs1" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#{{doc.doclicense}}">{{doc.docfirstname}} {{doc.doclastname}}</a>
            </h4>
        </div>
        <div id="{{doc.doclicense}}" class="panel-collapse collapse">
            <div class="panel-body">
                {{doc.docspeciality}}<br> 
                {{doc.docclinicname}}<br> 
                {{doc.docaddress}}<br>
                {{doc.doccity}}, {{doc. docprovince}} {{doc.docpostalcode}}<br> 
                {{doc.docemail}}<br> 
                {{doc.docwebsite}}<br>
            </div>
            <div class="panel-footer">
                <input type="button" class="btn btn-primary" value="Book an Appointment" (click)='onBook()'>
            </div>
        </div>
    </div>
</div>