<hr>
<div class="text-left">
    <p><input type="text" name="HomePageLocation" placeholder="Location">
        <select>
                    <option value="Physician">Physician</option>
                    <option value="FamilyDcotor">Family Doctor</option>
                    <option value="ENT">ENT</option>
        </select>
        <input type="button" class="btn btn-primary" value="Find">
    </p>
</div>
<hr>
<div class="container">
    <div id="googleMap" style="width:65%;height:380px;float: left;"></div>
    <es-listdoctor></es-listdoctor>
</div>