
<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSignin()">

    <!--Email-->
    <div class="form-group row">
      <label for="signinEmail" class="col-sm-1 col-form-label">Email</label>
      <div class="col-sm-5">
        <input 
            type="email" 
            class="form-control" 
            id="signinEmail" 
            placeholder="Email"
            formControlName="email">
      </div>
    </div>

    <!--Password-->
    <div class="form-group row">
      <label for="signinPassword" class="col-sm-1 col-form-label">Password</label>
      <div class="col-sm-5">
        <input 
            type="password" 
            class="form-control" 
            id="signinPassword" 
            placeholder="Password"
            formControlName="password">
      </div>
    </div>

    <!--error-->
    <div class="form-group row" *ngIf="!this.dbService.isLoggedIn() && this.dbService.clickNo > 0">
      <div class="col-sm-5 col-sm-offset-1">
        <label for="errormessage" class="errorr"><em>Invalid login credentials</em></label>
      </div>
    </div>    
    
    <!--Sign In Button-->
    <div class="form-group row">
      <div class="offset-sm-1 col-sm-10">
        <button 
            type="submit" 
            class="btn btn-primary"
            [disabled]="!myForm.valid">Sign In</button>
      </div>
    </div>

  </form>
</div>